/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; position: relative;}
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a, a:hover, a:active, a:focus, a:visited { outline: 0; text-decoration: none;}


abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 0; padding: 0; }
dd { margin: 0 0 0 40px; }
 ul,  ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	}



@font-face {
    font-family: 'tungmed';
    src: url('../fonts/tungsten-medium.eot');
    src: url('../fonts/tungsten-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tungsten-medium.woff') format('woff'),
         url('../fonts/tungsten-medium.ttf') format('truetype'),
         url('../fonts/tungsten-medium.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tungsemi';
    src: url('../fonts/tungsten-semibold.eot');
    src: url('../fonts/tungsten-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tungsten-semibold.woff') format('woff'),
         url('../fonts/tungsten-semibold.ttf') format('truetype'),
         url('../fonts/tungsten-semibold.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futurabook';
    src: url('../fonts/futura_lt_book-webfont.eot');
    src: url('../fonts/futura_lt_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura_lt_book-webfont.woff') format('woff'),
         url('../fonts/futura_lt_book-webfont.ttf') format('truetype'),
         url('../fonts/futura_lt_book-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuralight';
    src: url('../fonts/futura_lt_light-webfont.eot');
    src: url('../fonts/futura_lt_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura_lt_light-webfont.woff') format('woff'),
         url('../fonts/futura_lt_light-webfont.ttf') format('truetype'),
         url('../fonts/futura_lt_light-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}




/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property: -moz-transform, opacity;
          transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */

body {
	overflow: hidden;
	font-size: 100%;
	background-color: #222;
	font-family: "europa", "futuralight", "futurabook", sans-serif;
	line-height: 1.25em;
	}
	
.hidetext {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
	
time, small {
 	font-size: 80%; 
	 }
	 
h2.page-title {
	width: 96%;
	padding: 20px 2%;
	text-align: center;
	font-family: 'tungmed';
	color: #C6E4F3;
	font-weight: normal;
	background-color: transparent;
	font-size: 2em;
	}

h2.page-title span {
	color: #fff;
}
	
#isotope h2 {
	font-family: 'tungmed';
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: normal;
	line-height: 27px;
	margin: 0 0 2% 0;
	}
	
p, time  {
	margin: 2% 0;
	}

time  {
	font-size: 80%;
    margin: 10px 0 5px 0;
    display: block;
    float: left;
    color: #9DB3BF;
   
}

#container {
	color: #444;
	}
	

#bgtransition {
	background: transparent url(../img/waterBG.png) repeat top left;
	position:absolute;
	top: 0;
	left: 0;
	height: 1000px;
	width: 100%;
	z-index: -1;
	}
	
#layer1, #layer2, #layer3 {
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-attachment: fixed !important;
	z-index: -1;
	}

	
/*---===---===---Header---===---===---*/

header.main {
	height: 200px;
	overflow: visible;
	padding:  0;
	background: url(../img/wavesforboatsmall.png) repeat-x -15% 100%, url(../img/kklogosmall.png) top left no-repeat;
	/*background: transparent url(../img/kklogosmall.png) top left no-repeat;*/
	background-color: #E5F7FF;
	position: relative;
	padding-top: 50px;
	z-index: 1;
	}

#aboutme header.main {
	background: #273184;
	background: url(../img/wavesforboatsmall.png) repeat-x -15% 100%, url(../img/kklogosmalllight.png) top left no-repeat, -moz-linear-gradient(top,  #273184 0%, #a00920 47%, #ff7b0d 86%, #fcea4b 100%);
	background: url(../img/wavesforboatsmall.png) repeat-x -15% 100%, url(../img/kklogosmalllight.png) top left no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#273184), color-stop(47%,#a00920), color-stop(86%,#ff7b0d), color-stop(100%,#fcea4b));
	background: url(../img/wavesforboatsmall.png) repeat-x -15% 100%, url(../img/kklogosmalllight.png) top left no-repeat, -webkit-linear-gradient(top,  #273184 0%,#a00920 47%,#ff7b0d 86%,#fcea4b 100%);
	background: url(../img/wavesforboatsmall.png) repeat-x -15% 100%, url(../img/kklogosmalllight.png) top left no-repeat, -o-linear-gradient(top,  #273184 0%,#a00920 47%,#ff7b0d 86%,#fcea4b 100%);
	background: url(../img/wavesforboatsmall.png) repeat-x -15% 100%, url(../img/kklogosmalllight.png) top left no-repeat, -ms-linear-gradient(top,  #273184 0%,#a00920 47%,#ff7b0d 86%,#fcea4b 100%);
	background: url(../img/wavesforboatsmall.png) repeat-x -15% 100%, url(../img/kklogosmalllight.png) top left no-repeat, linear-gradient(top,  #273184 0%,#a00920 47%,#ff7b0d 86%,#fcea4b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273184', endColorstr='#fcea4b',GradientType=0 );
	}

#contactme header.main {
	background: #000033;
	background: url(../img/wavesforboatsmall.png) repeat-x -15% 100%, url(../img/kklogosmalllight.png) top left no-repeat, -moz-linear-gradient(top,  #000033 0%, #24588d 100%);
	background: url(../img/wavesforboatsmall.png) repeat-x -15% 100%, url(../img/kklogosmalllight.png) top left no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000033), color-stop(100%,#24588d));
	background: url(../img/wavesforboatsmall.png) repeat-x -15% 100%, url(../img/kklogosmalllight.png) top left no-repeat, -webkit-linear-gradient(top,  #000033 0%,#24588d 100%);
	background: url(../img/wavesforboatsmall.png) repeat-x -15% 100%, url(../img/kklogosmalllight.png) top left no-repeat, -o-linear-gradient(top,  #000033 0%,#24588d 100%);
	background: url(../img/wavesforboatsmall.png) repeat-x -15% 100%, url(../img/kklogosmalllight.png) top left no-repeat, -ms-linear-gradient(top,  #000033 0%,#24588d 100%);
	background: url(../img/wavesforboatsmall.png) repeat-x -15% 100%, url(../img/kklogosmalllight.png) top left no-repeat, linear-gradient(top,  #000033 0%,#24588d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000033', endColorstr='#24588d',GradientType=0 );
	}

#bgwaves {
	position: absolute;
	height: 39px;
	width: 150%;
	bottom: 0;
	left: -50%;
	background: transparent url(../img/wavesforboat2.png) 0 0 repeat-x;
	display: none;
}

h1 {
	height: 200px;
	display: block;
	position: relative;
	line-height: 0;
	}
		
#mainlogo {
	display: block;
	position: relative;
	margin: 0;
	max-width: 100%;
	display: none;
	}
	
#boatholder {
	width: 100%;
	height: 350px;
	position: absolute;
	top: 10px;
	left: 0;
	overflow: hidden;
	z-index: 2;
	display: none;
	/* CAN PUT AN IMAGE BETWEEN WAVES
	background: transparent url(../img/kklogo.png) top left no-repeat;
	*/
	}

#myboat, #waves {
	display: none;
	}
	
#width {
	position: fixed;
	left: 0;
	top: 0;
	background-color: red;
	color: #000;
	width: 60px;
	padding: 10px 0;
	text-align: center;
	z-index:9999;
	opacity: 0.8;
	}
	
.mainnav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index:999;
	}
	
.mainnav ul li a {
	display: block;
	float: right;
	clear: none;

	padding: 5px 5px 0 5px;
	height: 45px;
	font-size: 90%;
	margin: 0 3px;
	min-width: 30px;
	max-width: 60px;
	font-family:  "europa", "futurabook", sans-serif;
	
	-webkit-border-radius:  0 0 4px 4px;
	-moz-border-radius:   0 0 4px 4px;
	-o-border-radius:  0 0 4px 4px;
	border-radius:  0 0 4px 4px;
	
	color: #4F8098;
	word-wrap: break-word;
	}

.mainnav.alt ul li a {
	background-color: rgba(3,8,59,0.9);
	color: rgba(255,255,255,0.8);
	background: none;
	}
	
.mainnav ul li:first-child a {
	margin-right: 6px;
	}
	
.mainnav ul li a:hover {
	background-color: rgba(50,50,50,0.1);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	}

.mainnav.alt ul li a:hover {
	background-color: rgba(50,50,50,0.3);
	}
		
.mainnav ul li a.active {
	color: #8ABAD4;
	background-color: #fff;
	background-color: rgba(255,255,255,0.5);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	}

.mainnav.alt ul li a.active {
	background-color: rgba(16,38,54,0.5);
	}
	
/*---===---===---Main Structure---===---===---*/	

#main {
	height: auto;
	width: auto;
	padding:  0;
	min-height: 1000px;
	position: relative;
	
	background: #6da7c6;
	background: -moz-linear-gradient(top,  #6da7c6 0%, #00141b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6da7c6), color-stop(100%,#00141b));
	background: -webkit-linear-gradient(top,  #6da7c6 0%,#00141b 100%);
	background: -o-linear-gradient(top,  #6da7c6 0%,#00141b 100%);
	background: -ms-linear-gradient(top,  #6da7c6 0%,#00141b 100%);
	background: linear-gradient(top,  #6da7c6 0%,#00141b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6da7c6', endColorstr='#00141b',GradientType=0 );
	z-index: 0;
	}


section {
	z-index: 999;
	margin: 0 auto;
	padding:  0;
	height: 100%;
	position: relative;
	float: left;
	overflow: auto;
	clear: both;
	width: 100%;
	}

section#isotope {
	padding-bottom: 350px;
	}
	
.js section {
	float: none;
	}
	
.clearbar {
	float: none;
	clear: both;
	height: 1px;
	background-color: transparent;
	width: 100%;
	}


/*---===---===---Category Nav---===---===---*/	

nav.category {
	left: -50%;
	float: right;
	position: relative;
	z-index: 0;
	display: none;
	}

nav.category ul {
	position: relative;
	left: 50%;
	list-style: none;
	}	

nav.category ul li {
	float:left;
	position:relative;
	}
	
nav.category ul li a {
	float: left;
	height: 30px;
	line-height: 30px;
	width: auto;
	margin: 2px;
	color: #C6E4F3;
	text-decoration: none;
	padding: 0;
	color: #BAD5E4;
	background: transparent url(../img/filtericons.png) 0 0 no-repeat;
	}

nav.category ul li.active a {
	color: #5C6A71;
}

nav.category ul li a:hover {
	color: #fff;
}

nav.category ul li.active a:hover {
	color: #fff;
}

#navall, li.active #navall:hover, #navall:hover {
    background-position: 0 -30px;
    padding: 0 10px 0 38px;
}

#navall:hover {
	background-color: rgba(68,68,68,0.4);
  }

li.active #navall:hover {
	background-color: rgba(68,68,68,1);
  }

li.active #navall {
    background-position: 0 0;
	background-color: #C6E4F3;
  }

#navios, li.active #navios:hover, #navios:hover {
	background-position: 0 -330px;
	padding: 0 10px 0 42px;
}	

#navios:hover {
    background-color: rgba(76,136,183,0.4);
}

li.active #navios:hover {
    background-color: rgba(76,136,183,1);
}

li.active #navios {
	background-position: 0 -300px;
    background-color: #C6E4F3;
}

#navweb, li.active #navweb:hover, #navweb:hover {
	background-position: 0 -270px;
	padding: 0 10px 0 45px;
}	

#navweb:hover {
    background-color: rgba(153,76,170,0.4);
}

li.active #navweb:hover {
    background-color: rgba(153,76,170,1);
}

li.active #navweb {
	background-position: 0 -240px;
    background-color: #C6E4F3;
}

#navui, li.active #navui:hover, #navui:hover  {
	background-position: 0 -90px;
	padding: 0 10px 0 45px;
}	

#navui:hover {
    background-color: rgba(222,99,40,0.4);
}

li.active #navui:hover {
    background-color: rgba(222,99,40,1);
}

li.active #navui {
	background-position: 0 -60px;
    background-color: #C6E4F3;
}

#navdesign, li.active #navdesign:hover, #navdesign:hover  {
	background-position: 0 -150px;
	padding: 0 10px 0 35px;
}	

#navdesign:hover {
    background-color: rgba(247,198,5,0.4);
}

li.active #navdesign:hover {
    background-color: rgba(247,198,5,1);
}

li.active #navdesign {
	background-position: 0 -120px;
    background-color: #C6E4F3;
}

#navcode, li.active #navcode:hover, #navcode:hover {
	background-position: 0 -210px;
	padding: 0 10px 0 37px;
}	

#navcode:hover {
    background-color: rgba(102,204,102,0.4);
}

li.active #navcode:hover {
    background-color: rgba(102,204,102,1);
}

li.active #navcode {
	background-position: 0 -180px;
    background-color: #C6E4F3;
}

/*---===---===---Article Styling---===---===---*/	

article {
	position: relative;
	width: 96%;
	float: none;
	background-color: #fff;
	z-index: 9999;
	margin: 5px auto;
	padding: 10px;
	overflow: hidden;
	cursor: pointer;
	z-index: 99;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 2px 2px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 2px 2px 2px rgba(0,0,0,0.25);
	-ms-box-shadow: 0 2px 2px 2px rgba(0,0,0,0.25);
	box-shadow: 0 2px 2px 2px rgba(0,0,0,0.25);
	
	}

div.labdetails {
	min-height: 200px;
	opacity: 1;
	height: auto;
	position: relative;
}

.seelab {
	font-family: 'tungmed';
	font-size: 16px;
	text-transform: uppercase;
	float: left;
	clear: both;
	width: 100%;
	text-align: right;
	font-weight: normal;
	font-size: 110%;
	color: #F7C605;
	margin: 10px 0 0 0;
}

.seelab:hover {
	color: #6095B1;
}
	
.js article {
	opacity: 0;
	margin: 5px;
	}
	
article.flotsam, article.jetsam {
	background: transparent;
	cursor: default;
	padding: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

#whale {
	background: transparent url(../img/whale300px.png) 0 30px no-repeat;
	height: 255px;
}

#serpent {
	background: transparent url(../img/serpent300px.png) 0 30px no-repeat;
	height: 360px;
}
	
article.flotsam .details, article.jetsam .details {
	display: none;
	}
	
article.item * {
	display: block;
	float: left;
	clear: both;
	}

article.item p strong {
	display: inline;
	float: none;
	clear: none;
}
	
article > img {
	cursor: pointer;
	width: 100%;
	max-width: 100%;
	height: auto;
	/*opacity: 0.5;*/
	transition: all 0.3s linear;  
	-o-transition: all 0.3s linear; 
	-ms-transition: all 0.3s linear;   
	-moz-transition: all 0.3s linear;  
	-webkit-transition: all 0.3s linear;
	}

article > img:hover {
	/*opacity: 1.0;*/
}
	
.details, .labdetails {
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	padding: 0 20px;
	cursor: pointer;
	opacity: 0;
	height: 0;
	overflow: hidden;
	}

.labdetails {
	padding: 0;
	}
	
.details h3, .labdetails  h3 {
	font-size: 100%;
	}
	
.details time, .labdetails time {
	font-size: 80%;
	display: none;
	color: #489E75;
	}
	
.details p, .labdetails  p {
	display: block;
	margin: 2% 0;
	}

article.item .details p a, article.item .details p a {
		display: none;
}

.details p i, .labdetails p i {
		display: block;
		color: #ccc;
		font-size: 80%;
		margin: 2% 0 0 0;
	}

.labdetails p img {
	display: block;
	float: left;
	width: 100%;
	height: auto;
	margin: 0 0 10px 0;
	}
	
.tags {
	margin: 10px 0 5px 15px;
    position: relative;
    display: block;
    float: left;
    height: 20px;
	}

.details .tags {
	margin: 0;
	}

.tags li {
	clear: none;
	color: #7E8F98;
	margin: 0 0 3px 0;
	padding: 0 14px 0 0;
	background: transparent url(../img/slantdivider.png) top right no-repeat;
	font-size: 80%;
	height: 16px;
	display: block;
	float: left;
	}

.tags li.last {
	background: none;
	padding-right: 0;
	}

.tags li.format {
	color: #4C88B7;
	font-family: 'futurabook';
	}

.openicon, .seemore {
	display: block;
	position: absolute;
	height: 52px;
	width: 52px;
	overflow: visible;
	
	bottom: 0;
	background-color: #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius:   10px;
	}

.openicon {	
	right: 0;
	}

.seemore {
	left: 0;
	background-color: #ccc;
	}
	
.openicon span {
	display: block;
	height: 52px;
	width: 52px;
	background: transparent url(../img/ibutton.png) top left no-repeat;
	}
	
.seemore span {
	display: block;
	height: 52px;
	width: 52px;
	background: transparent url(../img/seemore.png) top left no-repeat;
	}
	
.openicon.detailsvisible {
	background-color: #ccc;
	}
	
.openicon.detailsvisible span {
	background: transparent url(../img/xbutton.png) top left no-repeat;
	}
	
.openicon:hover, .seemore:hover {
	background-color: #66CC66;
	}
	
.openicon.detailsvisible:hover {
	background-color: #FF3333;
	}

/*---===---===---Project Details View---===---===---*/

#projectdetail {
	background-color: #222;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: 9998;
	display: none;
	overflow: hidden;
	}

#loading {
	position: fixed;
	top: 45%;
	left: 0;
	height: auto;
	padding: 25px 0;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	color: #F7C605;
    font-family: 'tungsemi';
    font-size: 2.5em;
    font-weight: normal;
}
	
#projectdetail p {
	display: block;
	float: left;
	margin: 10px  0;
	width: 100%;
	clear: both;
	}


#projectdetail p i {
		display: block;
		color: #ccc;
		font-size: 80%;
		margin: 2% 0 0 0;
	}

#projectdetail p a {
	float: none;
	display: inline;
	text-decoration: underline;
	color: #6DA7C6;
}
	
.imgframe, .imagetitle {
	width: 96%;
	max-width: 1024px;
	margin: 0 auto 25px auto;
	padding: 0 2% 2% 2%;
	overflow: auto;
	text-align: center;
	}
	
#projectdetail  img {
	display: block;
	margin: 0 auto;
	height: auto;
	width: 100%;
	/*
	defined inline in html
	max-width: 768px;
	*/
	}
	
#projectdetail h2 {
	color: #9DB3BF;
    font-family: 'tungmed';
    font-size: 2.5em;
    text-align: left;
    width: 92%;
    font-weight: normal;
	}
	
.imagetitle {
	margin: 25px auto 0 auto;
	font-size: 26px;
	text-transform: uppercase;
	padding: 2% 5%;
	color: #9DB3BF;
	width: 90%;
	font-family: 'tungmed';
	font-weight: normal;
	}
	
.projectcontent, .ajaxcontent  {
	padding: 5% 5% 0 5%;
	width: 90%;
	color: #fff;
	overflow: auto;
	}
	
.ajaxcontent {
	padding: 0 5% 5% 5%;
	}
	
.projectcontent a.seemore {
	display: none;
	}
	
#projectdetail .ajax p {
	width: 90%;
	padding: 10px 5% 20px 5%;
	margin: 0 0 25px 0;
	color: #fff;
	}
	
a.closethis {
   	display: none;
    position: fixed;
    width: 49px;
    height: 42px;
    top: 7px;
    right: 0;
    background-color: #ccc;
    z-index: 9999;
    text-indent: 100%;
    white-space: nowrap;
    overflow: visible;
    -webkit-border-radius: 10px 0 0 10px; 
    -moz-border-radius: 10px 0 0 10px; 
    -o-border-radius: 10px 0 0 10px; 
    border-radius: 10px 0 0 10px; 
    }
    
a.closethis:hover {
    background-color: #FF3333;
    }

a.closethis span {
    background: transparent url(../img/closethis.png) top left no-repeat;
    position: absolute;
    width: 49px;
    height: 42px;
    top: 0;
    right: 0;
    -webkit-border-radius: 0; 
    -moz-border-radius: 0; 
    -o-border-radius: 0; 
    border-radius: 0; 
    }

/*---===---===---About Me, Contact and Flotsam & Jetsam Pages---===---===---*/

.infosection {
	width: 90%;
	margin: 0 auto 350px auto;
	float: left;
	padding: 15px 3% 25px 3%;
	color: #E2F7FF;
	font-size: 115%;
	max-width: 900px;
	font-family: 'europa', 'futuralight', sans-serif;
	min-height: 1200px;
}

#aboutme h2.page-title, #contactme h2.page-title {
	padding: 20px 2% 0 2%;
	font-size: 2.5em;
}

.infosection a {
	color: #ffffff;
}

.infosection a:hover {
	color: #B4DEF4;
}

.infosection h3 {
	font-family: 'tungmed';
	font-weight: normal;
	font-size: 200%;
	color: #E2F7FF;
	margin: 15px 0 10px 0;
	line-height: 1em;
	text-align: left;
}

.infosection img {
	width: 100%;
	float: left;
	clear: both;
	margin: 0 20px 10px 0;
	padding: 5px;
	border: 1px solid #E2F0EC;
	background-color: #E2F0EC;
	-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
	        box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
	display: block;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.twitter-follow-button {
	margin: 0 auto;
	display: block;
}

p.bigpara {
	line-height: 1.2em;
	text-align: center;
}

p.bigpara a {
	color: #E2F7FF;
}

p.bigpara a:hover {
	color: #98D0E9;
}

a.hilite , p.bigpara a.hilite {
	color: #F7C605;
}

a.hilite:hover, p.bigpara a.hilite:hover {
	color: #ffffff;
}

.quiet {
	color: #B4DEF4;
	font-weight: 100;
}

.col1, .col2 {
	float: right;
	width: 100%;
}

.col2.contactinfo {
	width: 100%;
	margin: 20px 0 0 0;
}

.col2 li {
	line-height: 115%;
	display: block;
	float: left;
	width: 100%;
}

.col2 li a {
	color: #BAE4BF;
}

.col2 li span {
	float: left;
	width: 70%;
	text-align: left;
	color: #fff;
}	

.col2 li span.addylabel {
	float: left;
	width: 26%;
	padding-right: 4%;
	text-align: left;
	color: #98D0E9;
	display: block;
	min-height: 1em;
}

#socialnav li {
	margin: 0 5px;
}

#socialnav li, #socialnav a {
	background: transparent url(/img/socialicons.png) no-repeat top left ;
	background-position: 0px -50px;
	height: 50px;
	width: 50px;
	text-indent: -5000px;
	position: relative;
	display: block;
} 

#socialnav #rsssocial a { background-position:  0px 0px; }
#socialnav #rsssocial { background-position:  0px -50px; }

#socialnav #twittersocial  a { background-position:  -50px 0px; }
#socialnav #twittersocial { background-position:  -50px -50px; }

#socialnav #flickrsocial a { background-position:  -100px 0px; }
#socialnav #flickrsocial { background-position:  -100px -50px; }

#socialnav #vimeosocial a { background-position:  -150px 0px; }
#socialnav #vimeosocial { background-position:  -150px -50px; }

#socialnav #lastfmsocial a { background-position:  -200px 0px; }
#socialnav #lastfmsocial { background-position:  -200px -50px; }

#socialnav #pintleysocial a { background-position:  -250px 0px; }
#socialnav #pintleysocial { background-position:  -250px -50px; }

#socialnav li a:hover {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#socialnav li a {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-webkit-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

	
/*---===---===---Footer---===---===---*/

footer.main {
	height: 380px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background: transparent url(../img/seafloor.png) bottom left repeat-x;
	}
	
#diver {
	display: none;
	}
	
.darkcreature {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
	height: 350px;
	width: 300px;
	background: transparent url(../img/darkcreature.png) top left no-repeat;
	}
	




/*---===---===---Global Border Radius---===---===---*/

a, article, div.details, div.labdetails, .blogbox, article img, #projectdetail  img {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	}
	
/*---===---===---Global Transitions---===---===---*/

a.closethis, a.openicon, a.seemore, .mainnav ul li a, .infosection p a, #myboat, .seelab {
	transition: all 0.4s linear;  
	-o-transition: all 0.4s linear; 
	-ms-transition: all 0.4s linear;   
	-moz-transition: all 0.4s linear;  
	-webkit-transition: all 0.4s linear;
	}

nav.category ul li a {
	-webkit-transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
	-moz-transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
	-ms-transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
	-o-transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
	transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
	}


/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1;}

/* ==|== animations ======================================================= */
/*BG waves animation*/
@keyframes BGwaves {
	0% { 
		transform: translateX(0px); 
	}
   100% { 
   	transform: translateX(100px); 
   }
}

@-webkit-keyframes BGwaves {
	0% { 
		-webkit-transform: translateX(0px); 
	}
   100% { 
   	-webkit-transform: translateX(100px);
   }
}

@-moz-keyframes BGwaves {
	0% { 
		-moz-transform: translateX(0px); 
	}
   100% { 
   	-moz-transform: translateX(100px); 
   }
}

@-o-keyframes BGwaves {
	0% { 
		-o-transform: translateX(0px); 
	}
	100% { 
		-o-transform: translateX(100px); 
	}
}

/*front waves animation*/
@keyframes waves {
	0% { 
		transform: translateX(0px); 
	}
	25% {
		transform: translateX(25px); 
	}
	50% {
		transform: translateX(50px); 
	}
	75% {
		transform: translateX(70px); 
	}
   100% { 
   	transform: translateX(100px);
   }
}

@-webkit-keyframes waves {
	0% { 
		-webkit-transform: translateX(0px); 
	}
	25% {
		-webkit-transform: translateX(25px); 
	}
	50% {
		-webkit-transform: translateX(50px); 
	}
	75% {
		-webkit-transform: translateX(70px); 
	}
   100% { 
   	-webkit-transform: translateX(100px);
   }
}

@-moz-keyframes waves {
	0% { 
		-moz-transform: translateX(0px); 
	}
	25% {
		-moz-transform: translateX(25px); 
	}
	50% {
		-moz-transform: translateX(50px); 
	}
	75% {
		-moz-transform: translateX(70px); 
	}
   100% { 
   	-moz-transform: translateX(100px);
   }
}

@-o-keyframes waves {
	0% { 
		-o-transform: translateX(0px); 
	}
	25% {
		-o-transform: translateX(25px); 
	}
	50% {
		-o-transform: translateX(50px); 
	}
	75% {
		-o-transform: translateX(70px); 
	}
   100% { 
   	-o-transform: translateX(100px);
   }
}

/*boat animation*/
@keyframes boat {
	0% { 
		transform: translateY(0px); 
	}
   25% { 
   	transform: translateY(-10px); 
   }
   75% { 
   	transform: translateY(10px); 
   }
   100% { 
   	transform: translateY(0px); 
   }
}

@-webkit-keyframes boat {
	0% { 
		-webkit-transform: translateY(0px); 
						transform: translateY(0px); 
	}
   25% { 
   	-webkit-transform: translateY(-10px); 
   	   	   	transform: translateY(-10px); 
   }
   75% { 
   	-webkit-transform: translateY(10px); 
   	   	   	transform: translateY(10px); 
   }
   100% { 
   	-webkit-transform: translateY(0px); 
   	   	   	transform: translateY(0px); 
   }
}

@-moz-keyframes boat {
	0% { 
		-moz-transform: translateY(0px); 
				transform: translateY(0px); 
	}
   25% { 
   	-moz-transform: translateY(-10px); 
   	   	transform: translateY(-10px); 
   }
   75% { 
   	-moz-transform: translateY(10px); 
   	   	transform: translateY(10px); 
   }
   100% { 
   	-moz-transform: translateY(0px); 
   	   	transform: translateY(0px); 
   }
}

@-o-keyframes boat {
	0% { 
		-o-transform: translateY(0px); 
	}
   25% { 
   	-o-transform: translateY(-10px); 
   }
   75% { 
   	-o-transform: translateY(10px); 
   }
	0% { 
		-o-transform: translateY(0px); 
	}

}

/* ==== media queries ====================================================== */
@media only screen and (min-width: 240px) {

.js nav.category {
	display: block;
}

article {
	width: auto;
	}
	
.js article {
	margin: 5px;
	}
	
nav.category ul {
	max-width: 300px;
}

nav.category ul li {
	min-width: 100px;
	max-width: 100px;
}

nav.category ul li a {
	text-align: right;
	margin: 1%;
	width: 98%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

}/*-----240px-----*/



@media only screen and (min-width: 320px) {

.col2.contactinfo li {
	font-size: 90%;
	margin-bottom: 10px;
}

p.bigpara {
	font-size: 100%;
	line-height: 1.2em;
}

article {
	width: 300px;
	}

#blogbody article {
	width: 96%;
	max-width: 700px;
	margin: 0 2% 10px 2%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	}

	
.js article {
	margin: 5px;
	}
	


}/*-----320px-----*/



@media only screen and (min-width: 430px) {

.col2.contactinfo li {
	font-size: 120%;
	margin-bottom: 15px;
}

p.bigpara {
	font-size: 115%;
}

#layer1 {
	background: transparent url(../img/bigbubbles.png) 0 0 repeat;

	}
	
#layer2 {
	background: transparent url(../img/midbubbles.png) 0 0 repeat;

	}
	
#layer3 {
	background: transparent url(../img/smallbubbles.png) 0 0 repeat;

	}


}/*-----430px-----*/


@media only screen and (min-width: 625px) {

.col2.contactinfo li {
	font-size: 180%;
	margin-bottom: 25px;
}

p.bigpara {
	font-size: 135%;
}

.col1, .col2 {
	float: left;
	width: 39%;
	margin: 0 1% 0 0;
}

.col2 {
	width: 57%;
	margin: 0 0 0 3%;
}

.col2 li {
	font-size: 180%;
	line-height: 115%;
}

h2.page-title {
	font-size: 3em;
	padding: 40px 2%;
	}

#aboutme h2.page-title, #contactme h2.page-title {
	font-size: 3.5em;
	padding: 40px 2% 0 2%;
}

header.main {
	height: 300px;
	background-color: #E5F7FF;
	background: url(../img/wavesforboat2.png) repeat-x -15% 100%, url(../img/kklogobig2.png) top left no-repeat, -moz-linear-gradient(top,  #CBDFE8 0%, #E5F7FF 100%);
	background: url(../img/wavesforboat2.png) repeat-x -15% 100%, url(../img/kklogobig2.png) top left no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CBDFE8), color-stop(100%,#E5F7FF));
	background: url(../img/wavesforboat2.png) repeat-x -15% 100%, url(../img/kklogobig2.png) top left no-repeat, -webkit-linear-gradient(top,  #CBDFE8 0%,#E5F7FF 100%);
	background: url(../img/wavesforboat2.png) repeat-x -15% 100%, url(../img/kklogobig2.png) top left no-repeat, -o-linear-gradient(top,  #CBDFE8 0%,#E5F7FF 100%);
	background: url(../img/wavesforboat2.png) repeat-x -15% 100%, url(../img/kklogobig2.png) top left no-repeat, -ms-linear-gradient(top,  #CBDFE8 0%,#E5F7FF 100%);
	background: url(../img/wavesforboat2.png) repeat-x -15% 100%, url(../img/kklogobig2.png) top left no-repeat, linear-gradient(top,  #CBDFE8 0%,#E5F7FF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000033', endColorstr='#24588d',GradientType=0 );
}

#aboutme header.main {
	background: #273184;
	background: url(../img/kklogobiglight.png) top left no-repeat, -moz-linear-gradient(top,  #273184 0%, #a00920 47%, #ff7b0d 86%, #fcea4b 100%);
	background: url(../img/kklogobiglight.png) top left no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#273184), color-stop(47%,#a00920), color-stop(86%,#ff7b0d), color-stop(100%,#fcea4b));
	background: url(../img/kklogobiglight.png) top left no-repeat, -webkit-linear-gradient(top,  #273184 0%,#a00920 47%,#ff7b0d 86%,#fcea4b 100%);
	background: url(../img/kklogobiglight.png) top left no-repeat, -o-linear-gradient(top,  #273184 0%,#a00920 47%,#ff7b0d 86%,#fcea4b 100%);
	background: url(../img/kklogobiglight.png) top left no-repeat, -ms-linear-gradient(top,  #273184 0%,#a00920 47%,#ff7b0d 86%,#fcea4b 100%);
	background: url(../img/kklogobiglight.png) top left no-repeat, linear-gradient(top,  #273184 0%,#a00920 47%,#ff7b0d 86%,#fcea4b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273184', endColorstr='#fcea4b',GradientType=0 );
	}

#contactme header.main {
	background: #000033;
	background: url(../img/wavesforboat2.png) repeat-x -15% 100%, url(../img/kklogobiglight.png) top left no-repeat, -moz-linear-gradient(top,  #000033 0%, #24588d 100%);
	background: url(../img/wavesforboat2.png) repeat-x -15% 100%, url(../img/kklogobiglight.png) top left no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000033), color-stop(100%,#24588d));
	background: url(../img/wavesforboat2.png) repeat-x -15% 100%, url(../img/kklogobiglight.png) top left no-repeat, -webkit-linear-gradient(top,  #000033 0%,#24588d 100%);
	background: url(../img/wavesforboat2.png) repeat-x -15% 100%, url(../img/kklogobiglight.png) top left no-repeat, -o-linear-gradient(top,  #000033 0%,#24588d 100%);
	background: url(../img/wavesforboat2.png) repeat-x -15% 100%, url(../img/kklogobiglight.png) top left no-repeat, -ms-linear-gradient(top,  #000033 0%,#24588d 100%);
	background: url(../img/wavesforboat2.png) repeat-x -15% 100%, url(../img/kklogobiglight.png) top left no-repeat, linear-gradient(top,  #000033 0%,#24588d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000033', endColorstr='#24588d',GradientType=0 );
	}

nav.category ul {
	max-width: 1000px;
	}

nav.category ul li {
	min-width: 10px;
	max-width: 150px;
}

nav.category ul li a {
	text-align: right;
	margin: 2px;
	width: auto;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

#boatholder {
	display: block;
	}

#waves {
	background: transparent url(../img/wavesforboat.png) repeat-x bottom left;
	z-index: 4;
	height: 50px;
	width: 150%;
	position: absolute;
	bottom: 0;
	left: -50%;
	display: block;
	-webkit-animation: waves 3s linear 0s infinite normal none;
	-moz-animation: waves 3s linear 0s infinite normal none;
	-o-animation: waves 3s linear 0s infinite normal none;
	animation: waves 3s linear 0s infinite normal none;
	}

#bgwaves {
	display: block;
	-webkit-animation: BGwaves 10s linear 0s infinite normal none;
	-moz-animation: BGwaves 10s linear 0s infinite normal none;
	-o-animation: BGwaves 10s linear 0s infinite normal none;
	animation: BGwaves 10s linear 0s infinite normal none;
}

#myboat {
	display: block;
	position: absolute;
	top: 0;
	left: 30%;
	z-index: 3;
	background: transparent url(../img/myBoat.png) top left no-repeat;
	height: 450px;
	width: 700px;

	-webkit-animation: boat 5s ease-in-out 0s infinite alternate none;
	-moz-animation: boat 5s ease-in-out 0s infinite alternate none;
	-o-animation: boat 5s ease-in-out 0s infinite alternate none;
	animation: boat 5s ease-in-out 0s infinite alternate none;
	}

#diver {
	display: block;
	position: absolute;
	bottom: 10px;
	right: 40%;
	z-index: 1;
	background: transparent url(../img/diverwalking.png) bottom left repeat-x;
	height: 350px;
	width: 1000px;
	}

#blogbody article {
	width: 100%;
	margin: 0 auto 10px auto;
	}

}/*-----625px-----*/

@media only screen and (min-width: 768px) {

}/*-----768px-----*/

@media only screen and (min-width: 900px) {

.mainnav ul li a {
	padding: 6px 8px;
	width: 85px;
	max-width: 85px;
	font-size: 100%;
	height: 45px;
	}
	
.mainnav ul li a.active, .mainnav ul li a.active:hover {
	padding: 7px 8px 6px 8px;
	}


	}/*-----900px-----*/

@media only screen and (min-width: 1024px) {

#myboat {
	left: 40%;
	}

	}/*-----1024px-----*/


@media only screen and (min-width: 1200px) {
	}/*-----1200px-----*/












/*----------RETINA MEDIA QUERIES----------*/
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) {

	.openicon span {
		background: transparent url(../img/ibutton@2x.png) top left no-repeat;
		background-size: 52px 52px;
	}
	
	.seemore span {
		background: transparent url(../img/seemore@2x.png) top left no-repeat;
		background-size: 52px 52px;
	}
	
	.openicon.detailsvisible span {
		background: transparent url(../img/xbutton@2x.png) top left no-repeat;
		background-size: 52px 52px;
	}

	a.closethis span {
		background: transparent url(../img/closethis@2x.png) top left no-repeat;
		background-size: 49px 42px;
   }

	#socialnav li, #socialnav a {
		background: transparent url(/img/socialicons@2x.png) no-repeat top left ;
		background-size: 300px 100px;
	} 

   nav.category ul li a {
		background: transparent url(../img/filtericons@2x.png) 0 0 no-repeat;
		background-size: 38px 360px;
	}

	header.main {
		background: url(../img/wavesforboatsmall@2x.png) repeat-x -15% 100%, url(../img/kklogosmall@2x.png) top left no-repeat;
		background-color: #E5F7FF;
		background-size: 50px 39px, 500px 250px;
	}

	#aboutme header.main {
		background: url(../img/wavesforboatsmall@2x.png) repeat-x -15% 100%, url(../img/kklogosmalllight@2x.png) top left no-repeat, -moz-linear-gradient(top,  #273184 0%, #a00920 47%, #ff7b0d 86%, #fcea4b 100%);
		background: url(../img/wavesforboatsmall@2x.png) repeat-x -15% 100%, url(../img/kklogosmalllight@2x.png) top left no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#273184), color-stop(47%,#a00920), color-stop(86%,#ff7b0d), color-stop(100%,#fcea4b));
		background: url(../img/wavesforboatsmall@2x.png) repeat-x -15% 100%, url(../img/kklogosmalllight@2x.png) top left no-repeat, -webkit-linear-gradient(top,  #273184 0%,#a00920 47%,#ff7b0d 86%,#fcea4b 100%);
		background: url(../img/wavesforboatsmall@2x.png) repeat-x -15% 100%, url(../img/kklogosmalllight@2x.png) top left no-repeat, -o-linear-gradient(top,  #273184 0%,#a00920 47%,#ff7b0d 86%,#fcea4b 100%);
		background: url(../img/wavesforboatsmall@2x.png) repeat-x -15% 100%, url(../img/kklogosmalllight@2x.png) top left no-repeat, -ms-linear-gradient(top,  #273184 0%,#a00920 47%,#ff7b0d 86%,#fcea4b 100%);
		background: url(../img/wavesforboatsmall@2x.png) repeat-x -15% 100%, url(../img/kklogosmalllight@2x.png) top left no-repeat, linear-gradient(top,  #273184 0%,#a00920 47%,#ff7b0d 86%,#fcea4b 100%);

		background-size: 50px 39px, 500px 250px, 100% 250px;
	}

	#contactme header.main {
		background: #000033;
		background: url(../img/wavesforboatsmall@2x.png) repeat-x -15% 100%, url(../img/kklogosmalllight@2x.png) top left no-repeat, -moz-linear-gradient(top,  #000033 0%, #24588d 100%);
		background: url(../img/wavesforboatsmall@2x.png) repeat-x -15% 100%, url(../img/kklogosmalllight@2x.png) top left no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000033), color-stop(100%,#24588d));
		background: url(../img/wavesforboatsmall@2x.png) repeat-x -15% 100%, url(../img/kklogosmalllight@2x.png) top left no-repeat, -webkit-linear-gradient(top,  #000033 0%,#24588d 100%);
		background: url(../img/wavesforboatsmall@2x.png) repeat-x -15% 100%, url(../img/kklogosmalllight@2x.png) top left no-repeat, -o-linear-gradient(top,  #000033 0%,#24588d 100%);
		background: url(../img/wavesforboatsmall@2x.png) repeat-x -15% 100%, url(../img/kklogosmalllight@2x.png) top left no-repeat, -ms-linear-gradient(top,  #000033 0%,#24588d 100%);
		background: url(../img/wavesforboatsmall@2x.png) repeat-x -15% 100%, url(../img/kklogosmalllight@2x.png) top left no-repeat, linear-gradient(top,  #000033 0%,#24588d 100%);

		background-size: 50px 39px, 500px 250px, 100% 250px;
	}

	footer.main {
		background: transparent url(../img/seafloor@2x.png) bottom left repeat-x;
		background-size: 775px 350px;
	}

	.darkcreature {
		background: transparent url(../img/darkcreature@2x.png) top left no-repeat;
		background-size: 300px 350px;
	}

	#whale {
		background: transparent url(../img/whale300px@2x.png) 0 30px no-repeat;
		background-size: 300px 195px;
	}

	#serpent {
		background: transparent url(../img/serpent300px@2x.png) 0 30px no-repeat;
		background-size: 300px 300px;
	}

}/*----------END RETINA MEDIA QUERIES ----------*/

/*----------RETINA MEDIA QUERIES and Min-Width 430px----------*/
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 430px), screen and (min-device-pixel-ratio: 2) and (min-width: 430px) {
	#layer1 {
		background: transparent url(../img/bigbubbles@2x.png) repeat;
		background-size: 300px 600px;
	}
		
	#layer2 {
		background: transparent url(../img/midbubbles@2x.png) repeat;
		background-size: 600px 300px;
	}
		
	#layer3 {
		background: transparent url(../img/smallbubbles@2x.png) repeat;
		background-size: 300px 300px;
	}
}/*----------END RETINA MEDIA QUERIES and Min-Width 430px----------*/

/*----------RETINA MEDIA QUERIES and Min-Width 625px----------*/
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 625px), screen and (min-device-pixel-ratio: 2) and (min-width: 625px) {
/*
	#test1 {
		height: 400px;
		background: transparent url(../img/crokeparkimg@2x.jpg) top left no-repeat;
		background-size: 280px 400px;
	}

	#test2 {
		height: 400px;
		background: transparent url(../projects/crokepark/crokeparkimg.jpg) top left no-repeat;
		background-size: 280px 400px;
	}
*/
	#myboat {
		background: transparent url(../img/myBoat@2x.png) top left no-repeat;
		background-size: 700px 450px;
	}

	#waves {
		background: transparent url(../img/wavesforboat@2x.png) repeat-x bottom left;
		background-size: 50px 29px;
	}

	#diver {
		background: transparent url(../img/diverwalking@2x.png) bottom left repeat-x;
		background-size: 1000px 350px;
	}
	
	header.main {
		background: url(../img/wavesforboat2@2x.png) repeat-x -15% 100%, url(../img/kklogobig2@2x.png) top left no-repeat, -moz-linear-gradient(top,  #CBDFE8 0%, #E5F7FF 100%);
		background: url(../img/wavesforboat2@2x.png) repeat-x -15% 100%, url(../img/kklogobig2@2x.png) top left no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CBDFE8), color-stop(100%,#E5F7FF));
		background: url(../img/wavesforboat2@2x.png) repeat-x -15% 100%, url(../img/kklogobig2@2x.png) top left no-repeat, -webkit-linear-gradient(top,  #CBDFE8 0%,#E5F7FF 100%);
		background: url(../img/wavesforboat2@2x.png) repeat-x -15% 100%, url(../img/kklogobig2@2x.png) top left no-repeat, -o-linear-gradient(top,  #CBDFE8 0%,#E5F7FF 100%);
		background: url(../img/wavesforboat2@2x.png) repeat-x -15% 100%, url(../img/kklogobig2@2x.png) top left no-repeat, -ms-linear-gradient(top,  #CBDFE8 0%,#E5F7FF 100%);
		background: url(../img/wavesforboat2@2x.png) repeat-x -15% 100%, url(../img/kklogobig2@2x.png) top left no-repeat, linear-gradient(top,  #CBDFE8 0%,#E5F7FF 100%);

		background-size: 50px 39px, 500px 350px, 100% 350px;
	}

	#aboutme header.main {
		background: #273184;
		background: url(../img/kklogobiglight@2x.png) top left no-repeat, -moz-linear-gradient(top,  #273184 0%, #a00920 47%, #ff7b0d 86%, #fcea4b 100%);
		background: url(../img/kklogobiglight@2x.png) top left no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#273184), color-stop(47%,#a00920), color-stop(86%,#ff7b0d), color-stop(100%,#fcea4b));
		background: url(../img/kklogobiglight@2x.png) top left no-repeat, -webkit-linear-gradient(top,  #273184 0%,#a00920 47%,#ff7b0d 86%,#fcea4b 100%);
		background: url(../img/kklogobiglight@2x.png) top left no-repeat, -o-linear-gradient(top,  #273184 0%,#a00920 47%,#ff7b0d 86%,#fcea4b 100%);
		background: url(../img/kklogobiglight@2x.png) top left no-repeat, -ms-linear-gradient(top,  #273184 0%,#a00920 47%,#ff7b0d 86%,#fcea4b 100%);
		background: url(../img/kklogobiglight@2x.png) top left no-repeat, linear-gradient(top,  #273184 0%,#a00920 47%,#ff7b0d 86%,#fcea4b 100%);

		background-size: 500px 350px, 100% 350px;
	}

	#contactme header.main {
		background: #000033;
		background: url(../img/wavesforboat2@2x.png) repeat-x -15% 100%, url(../img/kklogobiglight@2x.png) top left no-repeat, -moz-linear-gradient(top,  #000033 0%, #24588d 100%);
		background: url(../img/wavesforboat2@2x.png) repeat-x -15% 100%, url(../img/kklogobiglight@2x.png) top left no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000033), color-stop(100%,#24588d));
		background: url(../img/wavesforboat2@2x.png) repeat-x -15% 100%, url(../img/kklogobiglight@2x.png) top left no-repeat, -webkit-linear-gradient(top,  #000033 0%,#24588d 100%);
		background: url(../img/wavesforboat2@2x.png) repeat-x -15% 100%, url(../img/kklogobiglight@2x.png) top left no-repeat, -o-linear-gradient(top,  #000033 0%,#24588d 100%);
		background: url(../img/wavesforboat2@2x.png) repeat-x -15% 100%, url(../img/kklogobiglight@2x.png) top left no-repeat, -ms-linear-gradient(top,  #000033 0%,#24588d 100%);
		background: url(../img/wavesforboat2@2x.png) repeat-x -15% 100%, url(../img/kklogobiglight@2x.png) top left no-repeat, linear-gradient(top,  #000033 0%,#24588d 100%);

		background-size: 50px 39px, 500px 350px, 100% 350px;
	}

}/*----------END RETINA MEDIA QUERIES and Min-Width 625px----------*/

.iemessage {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #444;
	color: #eee;
	padding: 50px;
	z-index: 9999;
}

.iemessage p {
	font-family:  "europa", "futurabook", sans-serif;
	font-size: 20px;
	line-height:22px;
}

.iemessage p span {
	font-size: 25px;
	color: #44A64A;
}

.iemessage a {
	color: #66CC66;
}

.iemessage a:hover {
	color: #A9D2E7;
}

#ieclose {
	margin: 100px 0 0 0;
	font-size: 11px;
}

.iemessage a.maillink {
	font-size: 25px;
	color: #A9D2E7;
}

.iemessage a.maillink:hover {
	color: #66CC66;
}
